<settings>
 
<setting
            propertyKey="@Properties.fieldNB"
            title="@Strings.fieldNB">  
                <settingConfig type="list">
                    <listEntry value="6">@Strings.fieldNB6</listEntry>
                    <listEntry value="8">@Strings.fieldNB8</listEntry>
                </settingConfig>
        </setting>
 <setting
                propertyKey="@Properties.field1"
                title="@Strings.field1">
                <settingConfig type="list">
                    <listEntry value="0">@Strings.eucdata0</listEntry>
                    <listEntry value="1">@Strings.eucdata1</listEntry>
                    <listEntry value="2">@Strings.eucdata2</listEntry>
                    <listEntry value="3">@Strings.eucdata3</listEntry>
                    <listEntry value="4">@Strings.eucdata4</listEntry>
                    <listEntry value="5">@Strings.eucdata5</listEntry>
                    <listEntry value="6">@Strings.eucdata6</listEntry>
                    <listEntry value="7">@Strings.eucdata7</listEntry>
					<listEntry value="8">@Strings.eucdata8</listEntry>
                    <listEntry value="9">@Strings.eucdata9</listEntry>
                    <listEntry value="10">@Strings.eucdata10</listEntry>
                    <listEntry value="11">@Strings.eucdata11</listEntry>
                    <listEntry value="12">@Strings.eucdata12</listEntry>
                    <listEntry value="13">@Strings.eucdata13</listEntry>
                    <listEntry value="14">@Strings.eucdata14</listEntry>
                    <listEntry value="15">@Strings.eucdata15</listEntry>
					<listEntry value="16">@Strings.eucdata16</listEntry>
                    <listEntry value="17">@Strings.eucdata17</listEntry>
                    <listEntry value="18">@Strings.eucdata18</listEntry>
                    <listEntry value="19">@Strings.eucdata19</listEntry>
                    <listEntry value="20">@Strings.eucdata20</listEntry>
                    <listEntry value="21">@Strings.eucdata21</listEntry>
                    <listEntry value="22">@Strings.eucdata22</listEntry>
                    <listEntry value="23">@Strings.eucdata23</listEntry>
                    <listEntry value="24">@Strings.eucdata24</listEntry>
                    <listEntry value="25">@Strings.eucdata25</listEntry>
                    <listEntry value="26">@Strings.eucdata26</listEntry>
                    <listEntry value="27">@Strings.eucdata27</listEntry>
                    
                </settingConfig>
            </setting>
            <setting
                propertyKey="@Properties.field2"
                title="@Strings.field2">
                <settingConfig type="list">
                    <listEntry value="0">@Strings.eucdata0</listEntry>
                    <listEntry value="1">@Strings.eucdata1</listEntry>
                    <listEntry value="2">@Strings.eucdata2</listEntry>
                    <listEntry value="3">@Strings.eucdata3</listEntry>
                    <listEntry value="4">@Strings.eucdata4</listEntry>
                    <listEntry value="5">@Strings.eucdata5</listEntry>
                    <listEntry value="6">@Strings.eucdata6</listEntry>
                    <listEntry value="7">@Strings.eucdata7</listEntry>
					<listEntry value="8">@Strings.eucdata8</listEntry>
                    <listEntry value="9">@Strings.eucdata9</listEntry>
                    <listEntry value="10">@Strings.eucdata10</listEntry>
                    <listEntry value="11">@Strings.eucdata11</listEntry>
                    <listEntry value="12">@Strings.eucdata12</listEntry>
                    <listEntry value="13">@Strings.eucdata13</listEntry>
                    <listEntry value="14">@Strings.eucdata14</listEntry>
                    <listEntry value="15">@Strings.eucdata15</listEntry>
					<listEntry value="16">@Strings.eucdata16</listEntry>
                    <listEntry value="17">@Strings.eucdata17</listEntry>
                    <listEntry value="18">@Strings.eucdata18</listEntry>
                    <listEntry value="19">@Strings.eucdata19</listEntry>
                    <listEntry value="20">@Strings.eucdata20</listEntry>
                    <listEntry value="21">@Strings.eucdata21</listEntry>
                    <listEntry value="22">@Strings.eucdata22</listEntry>
                    <listEntry value="23">@Strings.eucdata23</listEntry>
                    <listEntry value="24">@Strings.eucdata24</listEntry>
                    <listEntry value="25">@Strings.eucdata25</listEntry>
                    <listEntry value="26">@Strings.eucdata26</listEntry>
                    <listEntry value="27">@Strings.eucdata27</listEntry>
                    
                </settingConfig>
            </setting>
            <setting
                propertyKey="@Properties.field3"
                title="@Strings.field3">
                <settingConfig type="list">
                    <listEntry value="0">@Strings.eucdata0</listEntry>
                    <listEntry value="1">@Strings.eucdata1</listEntry>
                    <listEntry value="2">@Strings.eucdata2</listEntry>
                    <listEntry value="3">@Strings.eucdata3</listEntry>
                    <listEntry value="4">@Strings.eucdata4</listEntry>
                    <listEntry value="5">@Strings.eucdata5</listEntry>
                    <listEntry value="6">@Strings.eucdata6</listEntry>
                    <listEntry value="7">@Strings.eucdata7</listEntry>
					<listEntry value="8">@Strings.eucdata8</listEntry>
                    <listEntry value="9">@Strings.eucdata9</listEntry>
                    <listEntry value="10">@Strings.eucdata10</listEntry>
                    <listEntry value="11">@Strings.eucdata11</listEntry>
                    <listEntry value="12">@Strings.eucdata12</listEntry>
                    <listEntry value="13">@Strings.eucdata13</listEntry>
                    <listEntry value="14">@Strings.eucdata14</listEntry>
                    <listEntry value="15">@Strings.eucdata15</listEntry>
					<listEntry value="16">@Strings.eucdata16</listEntry>
                    <listEntry value="17">@Strings.eucdata17</listEntry>
                    <listEntry value="18">@Strings.eucdata18</listEntry>
                    <listEntry value="19">@Strings.eucdata19</listEntry>
                    <listEntry value="20">@Strings.eucdata20</listEntry>
                    <listEntry value="21">@Strings.eucdata21</listEntry>
                    <listEntry value="22">@Strings.eucdata22</listEntry>
                    <listEntry value="23">@Strings.eucdata23</listEntry>
                    <listEntry value="24">@Strings.eucdata24</listEntry>
                    <listEntry value="25">@Strings.eucdata25</listEntry>
                    <listEntry value="26">@Strings.eucdata26</listEntry>
                    <listEntry value="27">@Strings.eucdata27</listEntry>                    
                </settingConfig>
            </setting>
            <setting
                propertyKey="@Properties.field4"
                title="@Strings.field4">
                <settingConfig type="list">
                    <listEntry value="0">@Strings.eucdata0</listEntry>
                    <listEntry value="1">@Strings.eucdata1</listEntry>
                    <listEntry value="2">@Strings.eucdata2</listEntry>
                    <listEntry value="3">@Strings.eucdata3</listEntry>
                    <listEntry value="4">@Strings.eucdata4</listEntry>
                    <listEntry value="5">@Strings.eucdata5</listEntry>
                    <listEntry value="6">@Strings.eucdata6</listEntry>
                    <listEntry value="7">@Strings.eucdata7</listEntry>
					<listEntry value="8">@Strings.eucdata8</listEntry>
                    <listEntry value="9">@Strings.eucdata9</listEntry>
                    <listEntry value="10">@Strings.eucdata10</listEntry>
                    <listEntry value="11">@Strings.eucdata11</listEntry>
                    <listEntry value="12">@Strings.eucdata12</listEntry>
                    <listEntry value="13">@Strings.eucdata13</listEntry>
                    <listEntry value="14">@Strings.eucdata14</listEntry>
                    <listEntry value="15">@Strings.eucdata15</listEntry>
					<listEntry value="16">@Strings.eucdata16</listEntry>
                    <listEntry value="17">@Strings.eucdata17</listEntry>
                    <listEntry value="18">@Strings.eucdata18</listEntry>
                    <listEntry value="19">@Strings.eucdata19</listEntry>
                    <listEntry value="20">@Strings.eucdata20</listEntry>
                    <listEntry value="21">@Strings.eucdata21</listEntry>
                    <listEntry value="22">@Strings.eucdata22</listEntry>
                    <listEntry value="23">@Strings.eucdata23</listEntry>
                    <listEntry value="24">@Strings.eucdata24</listEntry>
                    <listEntry value="25">@Strings.eucdata25</listEntry>
                    <listEntry value="26">@Strings.eucdata26</listEntry>
                    <listEntry value="27">@Strings.eucdata27</listEntry>
                   
                </settingConfig>
            </setting>
            <setting
                propertyKey="@Properties.field5"
                title="@Strings.field5">
                <settingConfig type="list">
                    <listEntry value="0">@Strings.eucdata0</listEntry>
                    <listEntry value="1">@Strings.eucdata1</listEntry>
                    <listEntry value="2">@Strings.eucdata2</listEntry>
                    <listEntry value="3">@Strings.eucdata3</listEntry>
                    <listEntry value="4">@Strings.eucdata4</listEntry>
                    <listEntry value="5">@Strings.eucdata5</listEntry>
                    <listEntry value="6">@Strings.eucdata6</listEntry>
                    <listEntry value="7">@Strings.eucdata7</listEntry>
					<listEntry value="8">@Strings.eucdata8</listEntry>
                    <listEntry value="9">@Strings.eucdata9</listEntry>
                    <listEntry value="10">@Strings.eucdata10</listEntry>
                    <listEntry value="11">@Strings.eucdata11</listEntry>
                    <listEntry value="12">@Strings.eucdata12</listEntry>
                    <listEntry value="13">@Strings.eucdata13</listEntry>
                    <listEntry value="14">@Strings.eucdata14</listEntry>
                    <listEntry value="15">@Strings.eucdata15</listEntry>
					<listEntry value="16">@Strings.eucdata16</listEntry>
                    <listEntry value="17">@Strings.eucdata17</listEntry>
                    <listEntry value="18">@Strings.eucdata18</listEntry>
                    <listEntry value="19">@Strings.eucdata19</listEntry>
                    <listEntry value="20">@Strings.eucdata20</listEntry>
                    <listEntry value="21">@Strings.eucdata21</listEntry>
                    <listEntry value="22">@Strings.eucdata22</listEntry>
                    <listEntry value="23">@Strings.eucdata23</listEntry>
                    <listEntry value="24">@Strings.eucdata24</listEntry>
                    <listEntry value="25">@Strings.eucdata25</listEntry>
                    <listEntry value="26">@Strings.eucdata26</listEntry>
                    <listEntry value="27">@Strings.eucdata27</listEntry>
                   
                </settingConfig>
            </setting>
             <setting
                propertyKey="@Properties.field6"
                title="@Strings.field6">
                <settingConfig type="list">
                    <listEntry value="0">@Strings.eucdata0</listEntry>
                    <listEntry value="1">@Strings.eucdata1</listEntry>
                    <listEntry value="2">@Strings.eucdata2</listEntry>
                    <listEntry value="3">@Strings.eucdata3</listEntry>
                    <listEntry value="4">@Strings.eucdata4</listEntry>
                    <listEntry value="5">@Strings.eucdata5</listEntry>
                    <listEntry value="6">@Strings.eucdata6</listEntry>
                    <listEntry value="7">@Strings.eucdata7</listEntry>
					<listEntry value="8">@Strings.eucdata8</listEntry>
                    <listEntry value="9">@Strings.eucdata9</listEntry>
                    <listEntry value="10">@Strings.eucdata10</listEntry>
                    <listEntry value="11">@Strings.eucdata11</listEntry>
                    <listEntry value="12">@Strings.eucdata12</listEntry>
                    <listEntry value="13">@Strings.eucdata13</listEntry>
                    <listEntry value="14">@Strings.eucdata14</listEntry>
                    <listEntry value="15">@Strings.eucdata15</listEntry>
					<listEntry value="16">@Strings.eucdata16</listEntry>
                    <listEntry value="17">@Strings.eucdata17</listEntry>
                    <listEntry value="18">@Strings.eucdata18</listEntry>
                    <listEntry value="19">@Strings.eucdata19</listEntry>
                    <listEntry value="20">@Strings.eucdata20</listEntry>
                    <listEntry value="21">@Strings.eucdata21</listEntry>
                    <listEntry value="22">@Strings.eucdata22</listEntry>
                    <listEntry value="23">@Strings.eucdata23</listEntry>
                    <listEntry value="24">@Strings.eucdata24</listEntry>
                    <listEntry value="25">@Strings.eucdata25</listEntry>
                    <listEntry value="26">@Strings.eucdata26</listEntry>
                    <listEntry value="27">@Strings.eucdata27</listEntry>
                    
                </settingConfig>
            </setting>
            <setting
                propertyKey="@Properties.field7"
                title="@Strings.field7">
                <settingConfig type="list">
                    <listEntry value="0">@Strings.eucdata0</listEntry>
                    <listEntry value="1">@Strings.eucdata1</listEntry>
                    <listEntry value="2">@Strings.eucdata2</listEntry>
                    <listEntry value="3">@Strings.eucdata3</listEntry>
                    <listEntry value="4">@Strings.eucdata4</listEntry>
                    <listEntry value="5">@Strings.eucdata5</listEntry>
                    <listEntry value="6">@Strings.eucdata6</listEntry>
                    <listEntry value="7">@Strings.eucdata7</listEntry>
					<listEntry value="8">@Strings.eucdata8</listEntry>
                    <listEntry value="9">@Strings.eucdata9</listEntry>
                    <listEntry value="10">@Strings.eucdata10</listEntry>
                    <listEntry value="11">@Strings.eucdata11</listEntry>
                    <listEntry value="12">@Strings.eucdata12</listEntry>
                    <listEntry value="13">@Strings.eucdata13</listEntry>
                    <listEntry value="14">@Strings.eucdata14</listEntry>
                    <listEntry value="15">@Strings.eucdata15</listEntry>
					<listEntry value="16">@Strings.eucdata16</listEntry>
                    <listEntry value="17">@Strings.eucdata17</listEntry>
                    <listEntry value="18">@Strings.eucdata18</listEntry>
                    <listEntry value="19">@Strings.eucdata19</listEntry>
                    <listEntry value="20">@Strings.eucdata20</listEntry>
                    <listEntry value="21">@Strings.eucdata21</listEntry>
                    <listEntry value="22">@Strings.eucdata22</listEntry>
                    <listEntry value="23">@Strings.eucdata23</listEntry>
                    <listEntry value="24">@Strings.eucdata24</listEntry>
                    <listEntry value="25">@Strings.eucdata25</listEntry>
                    <listEntry value="26">@Strings.eucdata26</listEntry>
                    <listEntry value="27">@Strings.eucdata27</listEntry>
                    
                </settingConfig>
            </setting>
            <setting
                propertyKey="@Properties.field8"
                title="@Strings.field8">
                <settingConfig type="list">
                    <listEntry value="0">@Strings.eucdata0</listEntry>
                    <listEntry value="1">@Strings.eucdata1</listEntry>
                    <listEntry value="2">@Strings.eucdata2</listEntry>
                    <listEntry value="3">@Strings.eucdata3</listEntry>
                    <listEntry value="4">@Strings.eucdata4</listEntry>
                    <listEntry value="5">@Strings.eucdata5</listEntry>
                    <listEntry value="6">@Strings.eucdata6</listEntry>
                    <listEntry value="7">@Strings.eucdata7</listEntry>
					<listEntry value="8">@Strings.eucdata8</listEntry>
                    <listEntry value="9">@Strings.eucdata9</listEntry>
                    <listEntry value="10">@Strings.eucdata10</listEntry>
                    <listEntry value="11">@Strings.eucdata11</listEntry>
                    <listEntry value="12">@Strings.eucdata12</listEntry>
                    <listEntry value="13">@Strings.eucdata13</listEntry>
                    <listEntry value="14">@Strings.eucdata14</listEntry>
                    <listEntry value="15">@Strings.eucdata15</listEntry>
					<listEntry value="16">@Strings.eucdata16</listEntry>
                    <listEntry value="17">@Strings.eucdata17</listEntry>
                    <listEntry value="18">@Strings.eucdata18</listEntry>
                    <listEntry value="19">@Strings.eucdata19</listEntry>
                    <listEntry value="20">@Strings.eucdata20</listEntry>
                    <listEntry value="21">@Strings.eucdata21</listEntry>
                    <listEntry value="22">@Strings.eucdata22</listEntry>
                    <listEntry value="23">@Strings.eucdata23</listEntry>
                    <listEntry value="24">@Strings.eucdata24</listEntry>
                    <listEntry value="25">@Strings.eucdata25</listEntry>
                    <listEntry value="26">@Strings.eucdata26</listEntry>
                    <listEntry value="27">@Strings.eucdata27</listEntry>
                    
                </settingConfig>
            </setting>
            <setting
            propertyKey="@Properties.displayNorth"
            title="@Strings.displayNorth">
                <settingConfig
                    type="boolean"
                />
            </setting>
            <setting
            propertyKey="@Properties.displayWind"
            title="@Strings.displayWind">
                <settingConfig
                    type="boolean"
                />
            </setting>
            <setting
            propertyKey="@Properties.vibeIntensity"
            title="@Strings.vibeIntensity">
            <settingConfig
                type="numeric"
                min="0"
                max="100"
            />
        </setting>
          <setting
            propertyKey="@Properties.motorbikeHeadset"
            title="@Strings.motorbikeHeadset">
            <settingConfig
                type="boolean"
            />
        </setting>
         <setting
            propertyKey="@Properties.useRadar"
            title="@Strings.useRadar">
                <settingConfig
                    type="boolean"
                />
            </setting>
         <setting
            propertyKey="@Properties.variaFarAlarmDistThr"
            title="@Strings.variaFarAlarmDistThr">
            <settingConfig
                type="numeric"
                min="0"
                max="150"
            />
        </setting>
         <setting
            propertyKey="@Properties.variaCloseAlarmDistThr"
            title="@Strings.variaCloseAlarmDistThr">
            <settingConfig
                type="numeric"
                min="0"
                max="150"
            />
        </setting>
        <setting
            propertyKey="@Properties.useEngo"
            title="@Strings.useEngo">
                <settingConfig
                    type="boolean"
                />
        </setting>
        <setting
                propertyKey="@Properties.engoTouch"
                title="@Strings.engoTouch">
                <settingConfig type="list">
                    <listEntry value="0">@Strings.engoTouch0</listEntry>
                    <listEntry value="1">@Strings.engoTouch1</listEntry>                    
                </settingConfig>
            </setting>
         
<!--
            <setting
                propertyKey="@Properties.resumeDectectionMethod"
                title="@Strings.resumeDectectionMethod">
                <settingConfig type="list">
                    <listEntry value="0">@Strings.resumeDectectionMethod0</listEntry>
                    <listEntry value="1">@Strings.resumeDectectionMethod1</listEntry>
             </settingConfig>
            </setting>
            -->
            <setting
            propertyKey="@Properties.profile"
            title="@Strings.profile">  
                <settingConfig type="list">
                    <listEntry value="1">@Strings.profile1</listEntry>
                    <listEntry value="2">@Strings.profile2</listEntry>
                    <listEntry value="3">@Strings.profile3</listEntry>
                </settingConfig>
                 </setting>
        <setting
                propertyKey="@Properties.wheelName_p1"
                title="@Strings.wheelName_p1">
                <settingConfig type="alphaNumeric"/>
            </setting>        
       
             <setting
                propertyKey="@Properties.wheelBrand_p1"
                title="@Strings.wheelBrand_p1">
                <settingConfig type="list">
                    <listEntry value="0">@Strings.wheelBrand0</listEntry>
                    <listEntry value="1">@Strings.wheelBrand1</listEntry>
                    <listEntry value="2">@Strings.wheelBrand2</listEntry>
                    <listEntry value="3">@Strings.wheelBrand3</listEntry>
                    <listEntry value="4">@Strings.wheelBrand4</listEntry>
                    <listEntry value="5">@Strings.wheelBrand5</listEntry> 
                    
                </settingConfig>
            </setting>
            
                <setting
                    propertyKey="@Properties.voltageCorrectionFactor_p1"
                    title="@Strings.voltageCorrectionFactor_p1">
                    <settingConfig
                        type="numeric"
                        min="0"
                        max="2"
                        errorMessage="@Strings.ErrorMessage" />
                </setting>
                <setting
                    propertyKey="@Properties.begodeCF_p1"
                    title="@Strings.begodeCF_p1">
                    <settingConfig
                        type="boolean"
                    />
                </setting>

                <setting
                propertyKey="@Properties.currentCorrection_p1"
                title="@Strings.currentCorrection_p1">
                <settingConfig type="list">
                    <listEntry value="0">@Strings.currentCorrection0</listEntry>
                    <listEntry value="1">@Strings.currentCorrection1</listEntry>
                    <listEntry value="2">@Strings.currentCorrection2</listEntry>
                </settingConfig>
            </setting>
                <setting
                    propertyKey="@Properties.speedCorrectionFactor_p1"
                    title="@Strings.speedCorrectionFactor_p1">
                    <settingConfig
                        type="numeric"
                        min="0"
                        max="2"
                        errorMessage="@Strings.ErrorMessage" />
           
            </setting>

        <setting
            propertyKey="@Properties.rotationSpeed_PWM_p1"
            title="@Strings.rotationSpeed_PWM_p1">
            <settingConfig
                type="numeric"
                min="0"
                max="140"
                errorMessage="@Strings.ErrorMessage" />
        </setting>
        <setting
            propertyKey="@Properties.rotationVoltage_PWM_p1"
            title="@Strings.rotationVoltage_PWM_p1">
            <settingConfig
                type="numeric"
                min="48"
                max="136"
                errorMessage="@Strings.ErrorMessage" />
        </setting>
        <setting
            propertyKey="@Properties.powerFactor_PWM_p1"
            title="@Strings.powerFactor_PWM_p1">
            <settingConfig
                type="numeric"
                min="0"
                max="1"
                errorMessage="@Strings.ErrorMessage" />
        </setting>
        
        <setting
            propertyKey="@Properties.alarmThreshold_PWM_p1"
            title="@Strings.alarmThreshold_PWM_p1">
            <settingConfig
                type="numeric"
                min="0"
                max="100"
                errorMessage="@Strings.alarmThreshold_PWM_ErrorMessage" />
        </setting>
        <setting
            propertyKey="@Properties.alarmThreshold2_PWM_p1"
            title="@Strings.alarmThreshold2_PWM_p1">
            <settingConfig
                type="numeric"
                min="0"
                max="100"
                errorMessage="@Strings.alarmThreshold_PWM_ErrorMessage" />
        </setting>
        <setting
            propertyKey="@Properties.alarmThreshold_speed_p1"
            title="@Strings.alarmThreshold_speed_p1">
            <settingConfig
                type="numeric"
                min="0"
                max="200"
                errorMessage="@Strings.alarmThreshold_speed_ErrorMessage" />
        </setting>
        <setting
            propertyKey="@Properties.alarmThreshold_temp_p1"
            title="@Strings.alarmThreshold_temp_p1">
            <settingConfig
                type="numeric"
                min="0"
                max="120"
                errorMessage="@Strings.alarmThreshold_temp_ErrorMessage" />
        </setting>

        <setting
                propertyKey="@Properties.wheelName_p2"
                title="@Strings.wheelName_p2">
                <settingConfig type="alphaNumeric"/>
            </setting>
        <setting
                propertyKey="@Properties.wheelBrand_p2"
                title="@Strings.wheelBrand_p2">
                <settingConfig type="list">
                    <listEntry value="0">@Strings.wheelBrand0</listEntry>
                    <listEntry value="1">@Strings.wheelBrand1</listEntry>
                    <listEntry value="2">@Strings.wheelBrand2</listEntry>
                    <listEntry value="3">@Strings.wheelBrand3</listEntry>
                    <listEntry value="4">@Strings.wheelBrand4</listEntry>
                    <listEntry value="5">@Strings.wheelBrand5</listEntry> 
                    
                </settingConfig>
            </setting>
            
                <setting
                    propertyKey="@Properties.voltageCorrectionFactor_p2"
                    title="@Strings.voltageCorrectionFactor_p2">
                    <settingConfig
                        type="numeric"
                        min="0"
                        max="2"
                        errorMessage="@Strings.ErrorMessage" />
                </setting>
                <setting
                    propertyKey="@Properties.begodeCF_p2"
                    title="@Strings.begodeCF_p2">
                    <settingConfig
                        type="boolean"
                    />
                </setting>

                <setting
                propertyKey="@Properties.currentCorrection_p2"
                title="@Strings.currentCorrection_p2">
                <settingConfig type="list">
                    <listEntry value="0">@Strings.currentCorrection0</listEntry>
                    <listEntry value="1">@Strings.currentCorrection1</listEntry>
                    <listEntry value="2">@Strings.currentCorrection2</listEntry>
                </settingConfig>
            </setting>
                <setting
                    propertyKey="@Properties.speedCorrectionFactor_p2"
                    title="@Strings.speedCorrectionFactor_p2">
                    <settingConfig
                        type="numeric"
                        min="0"
                        max="2"
                        errorMessage="@Strings.ErrorMessage" />
           
            </setting>

        <setting
            propertyKey="@Properties.rotationSpeed_PWM_p2"
            title="@Strings.rotationSpeed_PWM_p2">
            <settingConfig
                type="numeric"
                min="0"
                max="140"
                errorMessage="@Strings.ErrorMessage" />
        </setting>
        <setting
            propertyKey="@Properties.rotationVoltage_PWM_p2"
            title="@Strings.rotationVoltage_PWM_p2">
            <settingConfig
                type="numeric"
                min="48"
                max="136"
                errorMessage="@Strings.ErrorMessage" />
        </setting>
        <setting
            propertyKey="@Properties.powerFactor_PWM_p2"
            title="@Strings.powerFactor_PWM_p2">
            <settingConfig
                type="numeric"
                min="0"
                max="1"
                errorMessage="@Strings.ErrorMessage" />
        </setting>
        
        <setting
            propertyKey="@Properties.alarmThreshold_PWM_p2"
            title="@Strings.alarmThreshold_PWM_p2">
            <settingConfig
                type="numeric"
                min="0"
                max="100"
                errorMessage="@Strings.alarmThreshold_PWM_ErrorMessage" />
        </setting>
        <setting
            propertyKey="@Properties.alarmThreshold2_PWM_p2"
            title="@Strings.alarmThreshold2_PWM_p2">
            <settingConfig
                type="numeric"
                min="0"
                max="100"
                errorMessage="@Strings.alarmThreshold_PWM_ErrorMessage" />
        </setting>
        <setting
            propertyKey="@Properties.alarmThreshold_speed_p2"
            title="@Strings.alarmThreshold_speed_p2">
            <settingConfig
                type="numeric"
                min="0"
                max="200"
                errorMessage="@Strings.alarmThreshold_speed_ErrorMessage" />
        </setting>
        <setting
            propertyKey="@Properties.alarmThreshold_temp_p2"
            title="@Strings.alarmThreshold_temp_p2">
            <settingConfig
                type="numeric"
                min="0"
                max="120"
                errorMessage="@Strings.alarmThreshold_temp_ErrorMessage" />
        </setting>


        <setting
                propertyKey="@Properties.wheelName_p3"
                title="@Strings.wheelName_p3">
                <settingConfig type="alphaNumeric"/>
            </setting>
        <setting
                propertyKey="@Properties.wheelBrand_p3"
                title="@Strings.wheelBrand_p3">
                <settingConfig type="list">
                    <listEntry value="0">@Strings.wheelBrand0</listEntry>
                    <listEntry value="1">@Strings.wheelBrand1</listEntry>
                    <listEntry value="2">@Strings.wheelBrand2</listEntry>
                    <listEntry value="3">@Strings.wheelBrand3</listEntry>
                    <listEntry value="4">@Strings.wheelBrand4</listEntry>
                    <listEntry value="5">@Strings.wheelBrand5</listEntry> 
                </settingConfig>
            </setting>
            
                <setting
                    propertyKey="@Properties.voltageCorrectionFactor_p3"
                    title="@Strings.voltageCorrectionFactor_p3">
                    <settingConfig
                        type="numeric"
                        min="0"
                        max="2"
                        errorMessage="@Strings.ErrorMessage" />
                </setting>
                <setting
                    propertyKey="@Properties.begodeCF_p3"
                    title="@Strings.begodeCF_p3">
                    <settingConfig
                        type="boolean"
                    />
                </setting>

                <setting
                propertyKey="@Properties.currentCorrection_p3"
                title="@Strings.currentCorrection_p3">
                <settingConfig type="list">
                    <listEntry value="0">@Strings.currentCorrection0</listEntry>
                    <listEntry value="1">@Strings.currentCorrection1</listEntry>
                    <listEntry value="2">@Strings.currentCorrection2</listEntry>
                </settingConfig>
            </setting>
                <setting
                    propertyKey="@Properties.speedCorrectionFactor_p3"
                    title="@Strings.speedCorrectionFactor_p3">
                    <settingConfig
                        type="numeric"
                        min="0"
                        max="2"
                        errorMessage="@Strings.ErrorMessage" />
           
            </setting>

        <setting
            propertyKey="@Properties.rotationSpeed_PWM_p3"
            title="@Strings.rotationSpeed_PWM_p3">
            <settingConfig
                type="numeric"
                min="0"
                max="140"
                errorMessage="@Strings.ErrorMessage" />
        </setting>
        <setting
            propertyKey="@Properties.rotationVoltage_PWM_p3"
            title="@Strings.rotationVoltage_PWM_p3">
            <settingConfig
                type="numeric"
                min="48"
                max="136"
                errorMessage="@Strings.ErrorMessage" />
        </setting>
        <setting
            propertyKey="@Properties.powerFactor_PWM_p3"
            title="@Strings.powerFactor_PWM_p3">
            <settingConfig
                type="numeric"
                min="0"
                max="1"
                errorMessage="@Strings.ErrorMessage" />
        </setting>
        
        <setting
            propertyKey="@Properties.alarmThreshold_PWM_p3"
            title="@Strings.alarmThreshold_PWM_p3">
            <settingConfig
                type="numeric"
                min="0"
                max="100"
                errorMessage="@Strings.alarmThreshold_PWM_ErrorMessage" />
        </setting>
        <setting
            propertyKey="@Properties.alarmThreshold2_PWM_p3"
            title="@Strings.alarmThreshold2_PWM_p3">
            <settingConfig
                type="numeric"
                min="0"
                max="100"
                errorMessage="@Strings.alarmThreshold_PWM_ErrorMessage" />
        </setting>
        <setting
            propertyKey="@Properties.alarmThreshold_speed_p3"
            title="@Strings.alarmThreshold_speed_p3">
            <settingConfig
                type="numeric"
                min="0"
                max="200"
                errorMessage="@Strings.alarmThreshold_speed_ErrorMessage" />
        </setting>
        <setting
            propertyKey="@Properties.alarmThreshold_temp_p3"
            title="@Strings.alarmThreshold_temp_p3">
            <settingConfig
                type="numeric"
                min="0"
                max="120"
                errorMessage="@Strings.alarmThreshold_temp_ErrorMessage" />
        </setting>

<setting
                propertyKey="@Properties.font"
                title="@Strings.font">
                <settingConfig type="list">
                    <listEntry value="0">@Strings.font0</listEntry>
                    <listEntry value="1">@Strings.font1</listEntry>
   
                </settingConfig>
            </setting>   
<setting
                propertyKey="@Properties.txtColor"
                title="@Strings.txtColor">
                <settingConfig type="alphaNumeric"/>
</setting>
<setting
                propertyKey="@Properties.txtColor_unpr"
                title="@Strings.txtColor_unpr">
                <settingConfig type="alphaNumeric"/>
</setting>     
<setting
                propertyKey="@Properties.linesColor"
                title="@Strings.linesColor">
                <settingConfig type="alphaNumeric"/>
</setting>        
 <setting
 
                    propertyKey="@Properties.drawLines"
                    title="@Strings.drawLines">
                    <settingConfig type="boolean"/>
</setting>
<setting
                propertyKey="@Properties.logoFill"
                title="@Strings.logoFill">
                <settingConfig type="alphaNumeric"/>
            </setting>       

 <setting
                propertyKey="@Properties.logoEmpty"
                title="@Strings.logoEmpty">
                <settingConfig type="alphaNumeric"/>
            </setting>       
<setting
                propertyKey="@Properties.logoOffsetx"
                title="@Strings.logoOffsetx">
                <settingConfig type="numeric"/>
</setting> 
<setting
                propertyKey="@Properties.logoOffsety"
                title="@Strings.logoOffsety">
                <settingConfig type="numeric"/>
</setting>     
<setting
                propertyKey="@Properties.logoColor"
                title="@Strings.logoColor">
                <settingConfig type="alphaNumeric"/>
</setting>
 <setting
 
                    propertyKey="@Properties.debugView"
                    title="@Strings.debugView">
                    <settingConfig type="boolean"/>
  </setting>


   
           
            
</settings>